.Logon-container {
    width: 100%; /*Largura de 100%*/
    max-width: 1120px; /*Largura maxima de 1120px*/
    height: 100vh; /*Altura 100vh - ocupa a altura toda do corpo*/
    margin: 0 auto; /*Fazer com que o conteudo fica centralizado na tela*/

    display: flex; /*Ajuda para fazer os alinhamentos*/
    align-items: center; /*Alinha os icones verticalmente ao centro*/
    justify-content: center; /*Alinha os icones horizontalmente ao centro */
}

.Logon-container section.form {
    width: 100%; /*Largura de 100%*/
    max-width: 350px; /*Largura maxima de 1120px*/
    margin-right: 30px; /*Distancia a imagem BeTheHero da imagem Hero*/
}

.Logon-container section.form form {
    
}   
